:root {
  --font-family: Arial, sans-serif;
  --primary-color: #bc0b1d;
  --background-light: #fff;
  --text-light: #000;
  --background-dark: #333;
  --text-dark: #fff;
  --quote-background: #efecbe;
  --quote-dark-background: #878546;
  --button-shadow: #666565 2px 0px 7px;
  --transition-duration: 0.3s;
}
body {
  font-family: var(--font-family);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  background-color: var(--background-light);
  color: var(--text-light);
  line-height: 1.6;
}

.title {
  font-size: 48px;
  text-align: center;
}
#solutions {
  color: var(--primary-color);
}
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  background: var(--background-light);
  color: var(--primary-color);
  border: none;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

button:hover {
  background: #f0f0f0;
}
#toggleMode {
  background: var(--primary-color);
  color: var(--background-light);
}

#toggleMode:hover {
  background: #d5071b;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.Category-button {
  margin-bottom: 20px;
}

#category-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #b9b9b9;
  border-radius: 5px;
  background-color: var(--background-light);
  color: var(--text-light);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

#category-select:hover {
  background-color: #f0f0f0;
}

#category-select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.footer {
  bottom: 0;
  text-align: center;
  margin-top: 128px;
  font-size: 14px;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px 0;
  width: 100%;
  background: var(--quote-background);
  padding: 30px 0px;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
}

#quote-text {
  font-size: 24px;
  font-style: italic;
}

#quote-category {
  font-size: 18px;
  color: #9f9f9f;
  margin-bottom: 10px;
}

/* //DARK MODE */ 

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark-mode button {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark-mode #category-select {
  background-color: var(--background-dark);
  color: var(--text-dark);
  border-color: var(--text-dark);
}

body.dark-mode #quote-category {
  color: #d8d8d8;
}

body.dark-mode #quote-box {
  text-align: center;
  margin-bottom: 20px 0;
  width: 100%;
  background: var(--quote-dark-background);
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  .title {
    font-size: 36px;
  }

  #quote-text {
    font-size: 20px;
    padding: 5px;
  }

  .controls {
    flex-direction: column;
  }
}